body{
    background-color: #eee;
}
.sessAssinatura{
    .rowAssinaturaTitulo{
        border-bottom: 2px solid brown;
        margin-bottom: 1em;

        .tituloAssinatura{
            color: brown;
            font-weight: 300;
            font-size: 2em;
        }
        .tituloAssinaturaContent{
            margin: 1em 0;
            font-size: .8em;
        }
    }

    .rowAssinaturaPlanos{
        margin-bottom: 1em;

        .card{
            .card-body{
                .tituloPlano{
                    font-size: 1.5em;
                    color: #0078ff;
                    text-align: center;
                    letter-spacing: 1px;
                    font-weight: bold;
                }
                h1{
                    font-style: italic;
                }
                .valorPlano{
                    font-size: 2.8em;
                    font-weight: 700;
                    text-align: center;
                    font-style: italic;


                }
                .beneficiosPlano{
                    list-style: none;
                    margin-top: 3em;
                    margin-bottom: 3em;
                    li{
                        color: seagreen;
                        font-size: .8em;
                        font-weight: bold;
                        line-height: 1.5!important;
                        letter-spacing: 1px;
                        font-style: italic;
                        i{
                            font-weight: normal;
                        }

                    }

                }

                .btn-assinar{
                    font-size: .9em;
                    text-align: center;
                    padding: 10px 1.5em;
                    background-color: #0078ff;
                    color: white;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 1em;
                    &:hover{
                        background-color:blue;
                        transition: .5s;
                    }


                }
            }
        }
        .tituloBoasVindasPlanoPremium{
            font-weight: 300;
            font-size: 1.8em;
            color: #0078ff;
        }
        .assinaturaPremiumDescricao{
            font-size: .8em;
            color: #333;
            line-height: 1.5;

        }
        .btn-cancelarAssionatura{
            background-color: indianred;
            color: #f2f2f2;
            font-size: 1.7em;
            font-weight: bold;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-style: italic;
            &:hover{
                background-color: darkred;

            }
        }
    }

}
