.leftSiderBar{
    background-color: #261C2C;
    @media all and (max-width: 75.625em) {
        .leftSiderBar{
            width:  70px;
            min-width:  4.375em;
        }
    }

    .articleDashboard{
        .articleDashboardHeader{
            @media screen and (max-width: 75.625em) {
                img{
                    width: 50px;
                    height: 50px;
                }
                p.userE-mail{
                    display: none;
                }
                p.userName{
                    font-size: .8em;
                }

            }
            padding: 1em 0;
            p.userE-mail{
                font-size: .8em;
                margin-top: -5px;
            }
        }
        .articleDashboardBody{
            padding: 1em 0;
            .leftMenu{

                a{
                    text-decoration: none;
                    display: block;
                    padding: 8px 1.2em;
                    color: #f1f1f1;
                    font-size: .8em;
                    white-space: nowrap;
                    @media all and (max-width: 41.875em) {
                        text-align: center!important;
                    }
                    &:hover{
                        background-color: #2d3748;
                    }
                    .text{
                        @media all and (max-width: 41.875em) {
                            display: none;
                        }
                    }
                    .icon{
                        color: #f1f1f1;
                        margin-right: 10px;


                    }
                }
            }
        }
    }

}

.main-header{
    background-color: #0078ff;
    margin-bottom: 1em;
    box-shadow: 0 0 5px rgba(0,0,0,.5)!important;
    .main-header-content{

        @media all and (max-width: 412px) {
            font-size: .6em;

        }
        .header-action{

            .logout{
                text-decoration: none;
                color: white;
                padding: 5px 1.2em;
                background-color: darkseagreen;
                font-size: .8em;
                float: right;
                right: 0;
                display: block;

                &:hover{
                    background-color: forestgreen;
                }
            }
        }
    }
}
