body{
    background-color: #eee;
}
.sessLancamento{
    .rowTitleLaunches{
        border-bottom: 2px solid brown;
        .tituloMeusLancamentos{
            font-weight: 300;
            font-size: 2em;
            color: brown;
        }
    }

}
