body{
    background-color: #eee;

}

.sessHome{
    .rowTitleHome{
        border-bottom: 2px solid brown;

        .tituloPaginaHome{
            font-weight: 300;
            font-size: 2em;
            color: brown;
        }
    }

}
