.sessionCarteira {
    .statisticas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;

        .despesas {
            background-color: rgb(220, 53, 69);
            color: #f0f0f0;

            p.valor {
                font-size: 1.5em;
                font-weight: bold;
            }

            p.title {
                font-size: .9em;
                margin-bottom: 0;
            }
        }

        .receitas {
            background-color: forestgreen;
            color: #f0f0f0;

            p.valor {
                font-size: 1.5em;
                font-weight: bold;
            }

            p.title {
                font-size: .9em;
                margin-bottom: 0;
            }
        }

        .saldo {
            color: #f0f0f0;

            p.valor {
                font-size: 1.5em;
                font-weight: bold;
            }

            p.title {
                font-size: .9em;
                margin-bottom: 0;
            }
        }
    }
}
