body{
    background-color: #eee;

}

.sessHome{
    .rowTitleHome{
        border-bottom: 2px solid brown;

        .tituloPaginaHome{
            font-weight: 300;
            font-size: 2em;
            color: brown;
        }
    }

    .rowHomeContent{
        .estatisticas{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1em;
            @media all and (max-width: 62.5em) {
                grid-template-columns: repeat(1, 1fr);

            }

            .estatisticasBox{
                padding: 1em 1em;

            }

            .estatisticasCategorias,
            .estatisticasLancamentos,
            .estatisticasSaldo{
                background-color: white;

            }

            .estatisticasSaldo{
                background-color: #0078ff;
                color: #f2f2f2;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .descriptionTitle{
                    font-size: .8em;
                }
                .descriptionValue{
                    font-size: 1.8em;
                    font-weight: 300;
                }
            }
            .estatisticasLancamentos{
                background-color: #446A46;
                color: #f2f2f2;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .descriptionTitle{
                    font-size: .8em;
                }
                .descriptionValue{
                    font-size: 1.8em;
                    font-weight: 300;
                }
            }
            .estatisticasCategorias{
                background-color: #2d3748;
                color: #f2f2f2;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .descriptionTitle{
                    font-size: .8em;
                }
                .descriptionValue{
                    font-size: 1.8em;
                    font-weight: 300;
                }
            }
        }
    }

    .rowUltimosLancamentosTitle{
        border-top: 2px solid brown;
        .ultimosLancamentosTitle{
            font-weight: 300;
            color: brown;

        }
    }

    .rowUltimosLancamentosContent{
        margin-bottom: 2em;
        table.tabelaUltimosLancamentos{
            font-size: .8em;
            @media all and (max-width: 38.75em){
                font-size: .6em;

            }
            @media all and (max-width: 375px){
                font-size: .4em;

            }

        }
    }

}

.sessMessageUpdate{
    .messageUpdate{
        padding: 8px 1em;
        background-color: #DC3545FF;
        color: #f2f2f2;
        font-size: .8em;
        border-radius: 3px;
        a.btn-update{
            color: #f2f2f2;
            background-color: #446A46;
            text-decoration: none;
            padding: 3px 5px;
            &:hover{
                background-color: seagreen;

            }
        }
    }
}
