body{
    background-color: #eee;
}
.sessCategories{
    .rowTitleCategories{
        border-bottom: 2px solid brown;
        .tituloMinhasCategorias{
            font-weight: 300;
            font-size: 2em;
            color: brown;
        }
        .j-addNewCategory{
            @media all and (max-width: 48.125em) {
                .text{
                    display: none;
                }

            }
        }
    }

    .rowContentCategory{
        margin-top: 2em;
        .tableCategories{
            font-size: .8em;
            @media all and (max-width: 375px) {
                font-size: .5em;

            }
            .categoryActions{
                @media all and (max-width: 39.375em) {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    a:nth-of-type(1){
                        margin-right: 5px;

                    }

                }
                a{
                    padding: 3px 3px;
                    border-radius: 3px;
                    font-size: .8em;

                }
                a.actionEdit{
                    background-color: #0078ff;
                    color: #f1f1f1;
                }
                a.actionDelete{
                    background-color: red;
                    color: #f1f1f1;
                }

            }
        }
    }

}
