.sessLogin{
    width: 100%;
    height: 100vh;
    background-color: #0078ff;
    display: flex;
    justify-content: center;
    align-items: center;

    .loginBox{
        width: 35%;
        margin: 0 auto;
        padding: 1em 1em;
        margin-bottom: 1em!important;

        @media all and (max-width: 412px) {
            width: 80%;
            margin: 0 auto;

        }
        .loginBoxHeader{
            padding: 1em 0;
            text-align: center;
            h1{
                color: white;
                font-size: 2.5em;
                margin: 1em 0;
            }
        }
        .loginBoxBody{
            padding: 1em 1em;
            background-color: white;
            border-radius: 3px;
            p{
                text-align: center;
                color: #333;
                font-size: 1.1em;
            }

            form{
                .field-esqueciSenha{
                    a.esqueciSenha{
                        color: #0078ff;
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                .field-create-acount{
                    span{
                        color: #333;
                        font-size: .9em;
                        a{
                            text-decoration: none;
                            color: #0078ff;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }


    }
}
