*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Serif;
    box-shadow: none!important;
    outline: 0!important;
}

//forms
.form-label{
    color: #888;
    font-size: .8em;

}

//butons
.btn{
    font-weight: normal;

}
.btn-primary{
    font-family: "Open Sans", Serif;
    border: none!important;
    background-color: #0078ff;

}
