@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Serif;
    box-shadow: none!important;
    outline: 0!important;
}

//Tabelas
.table{
    tbody{
        border-top: 2px solid brown!important;
    }
}

//Modal
.modal-title{
    font-weight: 300!important;
    font-size: 2em;
    color: brown;

}

//forms
.form-label{
    color: #888;
    font-size: .8em;

}

//butons
.btn{
    font-weight: normal;

}
.btn-primary{
    font-family: "Open Sans", Serif;
    border: none!important;
    background-color: #0078ff;

}
//main body content
.main-body-content{

    background-color: white;
}
