* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Serif;
  box-shadow: none !important;
  outline: 0 !important;
}
.sessLogin {
  width: 100%;
  height: 100vh;
  background-color: #2d3748;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sessLogin .loginBox {
  width: 35%;
  margin: 0 auto;
  padding: 1em 1em;
  min-width: 320px;
}
.sessLogin .loginBox .loginBoxHeader {
  padding: 1em 0;
  text-align: center;
}
.sessLogin .loginBox .loginBoxHeader h1 {
  color: white;
  font-size: 2.5em;
  margin: 1em 0;
}
.sessLogin .loginBox .loginBoxBody {
  padding: 1em 1em;
  background-color: white;
  border-radius: 3px;
}
.sessLogin .loginBox .loginBoxBody p {
  text-align: center;
  color: #333;
}
.sessLogin .loginBox .loginBoxBody form {
  width: 100%;
}
.sessLogin .loginBox .loginBoxBody form .field {
  width: 100%;
  margin: 1em 0;
}
.sessLogin .loginBox .loginBoxBody form .field label {
  display: block;
  color: #888;
  font-size: 0.7em;
  padding-left: 5px;
}
.sessLogin .loginBox .loginBoxBody form .field a.esqueciSenha {
  color: #0078ff;
  font-size: 0.7em;
  text-decoration: none;
  text-align: right;
}
.sessLogin .loginBox .loginBoxBody form .field input[type=text],
.sessLogin .loginBox .loginBoxBody form .field input[type=password] {
  border: none;
  padding: 8px 5px;
  border-bottom: 1px solid #888;
  display: block;
  width: 100%;
  font-size: 0.7em;
}
.sessLogin .loginBox .loginBoxBody form .field input[type=text]:focus,
.sessLogin .loginBox .loginBoxBody form .field input[type=password]:focus {
  border-bottom: 1px solid #0078ff;
}
.sessLogin .loginBox .loginBoxBody form .field input[type=submit] {
  border: none;
  background-color: #0078ff;
  color: #f1f1f1;
  display: block;
  padding: 1em 1em;
  width: 100%;
  font-size: 0.7em;
}
.sessLogin .loginBox .loginBoxBody form .field input[type=submit]:hover {
  background-color: blue;
  cursor: pointer;
}
.sessLogin .loginBox .loginBoxBody form .field-recover {
  display: flex;
  justify-content: flex-end;
}
.sessLogin .loginBox .loginBoxBody form .field-recover a.esqueciSenha:hover {
  color: blue;
  text-decoration: underline;
}
.sessLogin .loginBox .loginBoxBody form .field-create-acount span {
  font-size: 0.7em;
}
.sessLogin .loginBox .loginBoxBody form .field-create-acount span a.criarConta {
  color: #0078ff;
  text-decoration: none;
}
.sessLogin .loginBox .loginBoxBody form .field-create-acount span a.criarConta:hover {
  color: blue;
  text-decoration: underline;
}
