@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Serif;
  box-shadow: none !important;
  outline: 0 !important;
}

.modal-title {
  font-weight: 300 !important;
  font-size: 2em;
  color: brown;
}

.form-label {
  color: #888;
  font-size: 0.8em;
}

.btn {
  font-weight: normal;
}

.btn-primary {
  font-family: "Open Sans", Serif;
  border: none !important;
  background-color: #0078ff;
}
.sessLogin {
  width: 100%;
  height: 100vh;
  background-color: #0078ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sessLogin .loginBox {
  width: 35%;
  margin: 0 auto;
  padding: 1em 1em;
  min-width: 320px;
}
.sessLogin .loginBox .loginBoxHeader {
  padding: 1em 0;
  text-align: center;
}
.sessLogin .loginBox .loginBoxHeader h1 {
  color: white;
  font-size: 2.5em;
  margin: 1em 0;
}
.sessLogin .loginBox .loginBoxBody {
  padding: 1em 1em;
  background-color: white;
  border-radius: 3px;
}
.sessLogin .loginBox .loginBoxBody p {
  text-align: center;
  color: #333;
  font-size: 1.1em;
}
.sessLogin .loginBox .loginBoxBody form .field-esqueciSenha a.esqueciSenha {
  color: #0078ff;
  text-decoration: none;
}
.sessLogin .loginBox .loginBoxBody form .field-esqueciSenha a.esqueciSenha:hover {
  text-decoration: underline;
}
.sessLogin .loginBox .loginBoxBody form .field-create-acount span {
  color: #333;
  font-size: 0.9em;
}
.sessLogin .loginBox .loginBoxBody form .field-create-acount span a {
  text-decoration: none;
  color: #0078ff;
}
.sessLogin .loginBox .loginBoxBody form .field-create-acount span a:hover {
  text-decoration: underline;
}
.sessLogin {
  width: 100%;
  height: 100vh;
  background-color: #0078ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sessLogin .loginBox {
  width: 35%;
  margin: 0 auto;
  padding: 1em 1em;
  min-width: 320px;
}
.sessLogin .loginBox .loginBoxHeader {
  padding: 1em 0;
  text-align: center;
}
.sessLogin .loginBox .loginBoxHeader h1 {
  color: white;
  font-size: 2.5em;
  margin: 1em 0;
}
.sessLogin .loginBox .loginBoxBody {
  padding: 1em 1em;
  background-color: white;
  border-radius: 3px;
}
.sessLogin .loginBox .loginBoxBody p.titleRecover {
  text-align: center;
  color: #333;
  font-size: 1.1em;
}
.sessLogin .loginBox .loginBoxBody p.subTitleRecover {
  font-size: 0.9em;
  color: forestgreen;
  font-style: italic;
}
.sessLogin .loginBox .loginBoxBody form .field-voltar-para-login a.voltarParaLogin {
  color: #0078ff;
  text-decoration: none;
}
.sessLogin .loginBox .loginBoxBody form .field-voltar-para-login a.voltarParaLogin:hover {
  text-decoration: underline;
}
.sessLogin .loginBox .loginBoxBody form .field-create-acount span {
  color: #333;
  font-size: 0.9em;
}
.sessLogin .loginBox .loginBoxBody form .field-create-acount span a {
  text-decoration: none;
  color: #0078ff;
}
.sessLogin .loginBox .loginBoxBody form .field-create-acount span a:hover {
  text-decoration: underline;
}
.sessNewAcount {
  width: 100%;
  height: 100%;
  background-color: #0078ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sessNewAcount .newAcountBox {
  width: 35%;
  margin: 0 auto;
  padding: 1em 1em;
  min-width: 320px;
}
.sessNewAcount .newAcountBox .newAcountBoxHeader {
  padding: 1em 0;
  text-align: center;
}
.sessNewAcount .newAcountBox .newAcountBoxHeader h1 {
  color: white;
  font-size: 2.5em;
  margin: 1em 0;
}
.sessNewAcount .newAcountBox .newAcountBoxBody {
  padding: 1em 1em;
  background-color: white;
  border-radius: 3px;
}
.sessNewAcount .newAcountBox .newAcountBoxBody p {
  text-align: center;
  color: #333;
  font-size: 1.1em;
}
.sessNewAcount .newAcountBox .newAcountBoxBody form .field-create-acount span {
  color: #333;
  font-size: 0.9em;
}
.sessNewAcount .newAcountBox .newAcountBoxBody form .field-create-acount span a {
  text-decoration: none;
  color: #0078ff;
}
.sessNewAcount .newAcountBox .newAcountBoxBody form .field-create-acount span a:hover {
  text-decoration: underline;
}
.leftSiderBar {
  background-color: #261C2C;
}
@media screen and (max-width: 75.625em) {
  .leftSiderBar .leftSiderBar {
    width: 70px;
    min-width: 4.375em;
  }
}
.leftSiderBar .articleDashboard .articleDashboardHeader {
  padding: 1em 0;
}
@media screen and (max-width: 75.625em) {
  .leftSiderBar .articleDashboard .articleDashboardHeader img {
    width: 50px;
    height: 50px;
  }
  .leftSiderBar .articleDashboard .articleDashboardHeader p.userE-mail {
    display: none;
  }
  .leftSiderBar .articleDashboard .articleDashboardHeader p.userName {
    font-size: 0.8em;
  }
}
.leftSiderBar .articleDashboard .articleDashboardHeader p.userE-mail {
  font-size: 0.8em;
  margin-top: -5px;
}
.leftSiderBar .articleDashboard .articleDashboardBody {
  padding: 1em 0;
}
.leftSiderBar .articleDashboard .articleDashboardBody .leftMenu a {
  text-decoration: none;
  display: block;
  padding: 8px 1.2em;
  color: #f1f1f1;
  font-size: 0.8em;
  white-space: nowrap;
}
@media all and (max-width: 41.875em) {
  .leftSiderBar .articleDashboard .articleDashboardBody .leftMenu a {
    text-align: center !important;
  }
}
.leftSiderBar .articleDashboard .articleDashboardBody .leftMenu a:hover {
  background-color: #2d3748;
}
@media all and (max-width: 41.875em) {
  .leftSiderBar .articleDashboard .articleDashboardBody .leftMenu a .text {
    display: none;
  }
}
.leftSiderBar .articleDashboard .articleDashboardBody .leftMenu a .icon {
  color: #f1f1f1;
  margin-right: 10px;
}

.main-header {
  background-color: #0078ff;
  margin-bottom: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
}
.main-header .main-header-content .header-action .logout {
  text-decoration: none;
  color: white;
  padding: 5px 1.2em;
  background-color: darkseagreen;
  font-size: 0.8em;
  float: right;
  right: 0;
  display: block;
}
.main-header .main-header-content .header-action .logout:hover {
  background-color: forestgreen;
}
body {
  background-color: #eee;
}

.sessProfile .rowTitleProfile {
  border-bottom: 2px solid brown;
}
.sessProfile .titleMeusDados {
  margin-bottom: 1em;
}
.sessProfile .titleMeusDados h3 {
  font-weight: 300;
  font-size: 1.5em;
}
.sessProfile #perfilEndereco {
  border-top: 2px solid brown;
}
.sessProfile #perfilSenha {
  border-top: 2px solid brown;
}
.sessProfile .tituloMeuPerfil {
  font-weight: 300;
  font-size: 2em;
  color: brown;
}
body {
  background-color: #eee;
}

.sessAssinatura .rowAssinaturaTitulo {
  border-bottom: 2px solid brown;
  margin-bottom: 1em;
}
.sessAssinatura .rowAssinaturaTitulo .tituloAssinatura {
  color: brown;
  font-weight: 300;
  font-size: 2em;
}
.sessAssinatura .rowAssinaturaTitulo .tituloAssinaturaContent {
  margin: 1em 0;
  font-size: 0.8em;
}
.sessAssinatura .rowAssinaturaPlanos {
  margin-bottom: 1em;
}
.sessAssinatura .rowAssinaturaPlanos .card .card-body .tituloPlano {
  font-size: 1.5em;
  color: #0078ff;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
}
.sessAssinatura .rowAssinaturaPlanos .card .card-body h1 {
  font-style: italic;
}
.sessAssinatura .rowAssinaturaPlanos .card .card-body .valorPlano {
  font-size: 3em;
  font-weight: 700;
}
.sessAssinatura .rowAssinaturaPlanos .card .card-body .beneficiosPlano {
  list-style: none;
  margin-top: 3em;
  margin-bottom: 3em;
}
.sessAssinatura .rowAssinaturaPlanos .card .card-body .beneficiosPlano li {
  color: seagreen;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 1.5 !important;
  letter-spacing: 1px;
  font-style: italic;
}
.sessAssinatura .rowAssinaturaPlanos .card .card-body .beneficiosPlano li i {
  font-weight: normal;
}
.sessAssinatura .rowAssinaturaPlanos .card .card-body .btn-assinar {
  font-size: 1.7em;
  background-color: #0078ff;
  color: #f2f2f2;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
body {
  background-color: #eee;
}

.sessHome .rowTitleHome {
  border-bottom: 2px solid brown;
}
.sessHome .rowTitleHome .tituloPaginaHome {
  font-weight: 300;
  font-size: 2em;
  color: brown;
}
.sessHome .rowHomeContent .estatisticas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
.sessHome .rowHomeContent .estatisticas .estatisticasBox {
  padding: 1em 1em;
}
.sessHome .rowHomeContent .estatisticas .estatisticasCategorias,
.sessHome .rowHomeContent .estatisticas .estatisticasLancamentos,
.sessHome .rowHomeContent .estatisticas .estatisticasSaldo {
  background-color: white;
}
.sessHome .rowHomeContent .estatisticas .estatisticasSaldo {
  background-color: #0078ff;
  color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sessHome .rowHomeContent .estatisticas .estatisticasSaldo .descriptionTitle {
  font-size: 0.8em;
}
.sessHome .rowHomeContent .estatisticas .estatisticasSaldo .descriptionValue {
  font-size: 1.8em;
  font-weight: 300;
}
.sessHome .rowHomeContent .estatisticas .estatisticasLancamentos {
  background-color: #446A46;
  color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sessHome .rowHomeContent .estatisticas .estatisticasLancamentos .descriptionTitle {
  font-size: 0.8em;
}
.sessHome .rowHomeContent .estatisticas .estatisticasLancamentos .descriptionValue {
  font-size: 1.8em;
  font-weight: 300;
}
.sessHome .rowHomeContent .estatisticas .estatisticasCategorias {
  background-color: #2d3748;
  color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sessHome .rowHomeContent .estatisticas .estatisticasCategorias .descriptionTitle {
  font-size: 0.8em;
}
.sessHome .rowHomeContent .estatisticas .estatisticasCategorias .descriptionValue {
  font-size: 1.8em;
  font-weight: 300;
}
.sessHome .rowUltimosLancamentosTitle {
  border-top: 2px solid brown;
}
.sessHome .rowUltimosLancamentosTitle .ultimosLancamentosTitle {
  font-weight: 300;
  color: brown;
}
.sessHome .rowUltimosLancamentosContent table {
  font-size: 0.8em;
}

.sessMessageUpdate .messageUpdate {
  padding: 8px 1em;
  background-color: #dc3545;
  color: #f2f2f2;
  font-size: 0.8em;
  border-radius: 3px;
}
.sessMessageUpdate .messageUpdate a.btn-update {
  color: #f2f2f2;
  background-color: #446A46;
  text-decoration: none;
  padding: 3px 5px;
}
.sessMessageUpdate .messageUpdate a.btn-update:hover {
  background-color: seagreen;
}
body {
  background-color: #eee;
}

.sessLancamento .rowTitleLaunches {
  border-bottom: 2px solid brown;
}
.sessLancamento .rowTitleLaunches .tituloMeusLancamentos {
  font-weight: 300;
  font-size: 2em;
  color: brown;
}
body {
  background-color: #eee;
}

.sessWalleties .rowTitleWalleties {
  border-bottom: 2px solid brown;
}
.sessWalleties .rowTitleWalleties .tituloMinhasCarteiras {
  font-weight: 300;
  font-size: 2em;
  color: brown;
}
.sessWalleties .contentListWalleties .cardNewWallet {
  background-color: #1E5128;
  color: white;
}
.sessWalleties .contentListWalleties .cardNewWallet .card-body .cardNewWalletDesc {
  font-size: 0.8em;
}
.sessWalleties .contentListWalleties .cardNewWallet .card-body .addNewWallet {
  cursor: pointer;
  font-size: 0.8em;
}
.sessWalleties .contentListWalleties .cardWallet .walletTitle {
  font-weight: 300;
}
.sessWalleties .contentListWalleties .cardWallet .saldo {
  font-weight: 500;
  font-size: 1.5em;
  margin-top: 1.2em;
}
.sessWalleties .contentListWalleties .cardWallet .despesa,
.sessWalleties .contentListWalleties .cardWallet .receita {
  font-size: 0.8em;
  margin-bottom: 5px;
}
.sessWalleties .contentListWalleties .cardWallet .walletActions {
  text-align: center;
  margin-top: 1em;
}
.sessWalleties .contentListWalleties .cardWallet .walletActions p {
  padding: 5px 5px;
}
.sessWalleties .contentListWalleties .cardWallet .walletActions p a {
  text-decoration: none;
  margin: 10px 10px;
  text-shadow: 1px 1px #000;
}
.sessWalleties .contentListWalleties .cardWallet .walletActions p a:hover {
  text-shadow: none;
}
.sessWalleties .contentListWalleties .cardWallet .walletActions p a.walletView {
  color: #eeeeee;
}
.sessWalleties .contentListWalleties .cardWallet .walletActions p a.walletEdit {
  color: #eeeeee;
}
.sessWalleties .contentListWalleties .cardWallet .walletActions p a.walletTrash {
  color: #eeeeee;
}
body {
  background-color: #eee;
}

.sessWallet .rowTitleWallet {
  border-bottom: 2px solid brown;
}
.sessWallet .rowTitleWallet .tituloMinhaCarteira {
  font-weight: 300;
  font-size: 2em;
  color: brown;
}
.sessWallet .rowTitleWallet .descricaoMinhaCarteira {
  font-size: 0.8em;
  color: #333;
  margin-top: 1em;
}
.sessWallet .rowTitleWallet .walletHeader {
  display: flex;
  justify-content: end;
  align-items: center;
}
.sessWallet .rowTitleWallet .walletHeader .btn-nova-despesa {
  margin-right: 10px;
  white-space: nowrap;
}
@media all and (max-width: 52.5em) {
  .sessWallet .rowTitleWallet .walletHeader .btn-nova-despesa .text {
    display: none;
  }
}
.sessWallet .rowTitleWallet .walletHeader .btn-nova-renda {
  white-space: nowrap;
}
@media all and (max-width: 52.5em) {
  .sessWallet .rowTitleWallet .walletHeader .btn-nova-renda .text {
    display: none;
  }
}
.sessWallet .rowTitleWallet .walletHeader .btn-voltar {
  margin-right: 10px;
  white-space: nowrap;
}
@media all and (max-width: 52.5em) {
  .sessWallet .rowTitleWallet .walletHeader .btn-voltar .text {
    display: none;
  }
}
.sessWallet .tabelaRelatorios {
  font-size: 0.8em;
}
@media all and (max-width: 35.625em) {
  .sessWallet .tabelaRelatorios {
    font-size: 0.6em;
  }
}
@media all and (max-width: 35.625em) {
  .sessWallet .tabelaRelatorios .launchAction {
    display: block;
    float: left;
  }
}
.sessWallet .tabelaRelatorios .launchAction a {
  padding: 3px 3px;
  font-size: 0.8em;
  border-radius: 3px;
}
@media all and (max-width: 35.625em) {
  .sessWallet .tabelaRelatorios .launchAction a {
    margin-bottom: 1em;
    display: block;
  }
}
.sessWallet .tabelaRelatorios .launchAction a.actionEdit {
  background-color: #0078ff;
  color: #f1f1f1;
}
@media all and (max-width: 35.625em) {
  .sessWallet .tabelaRelatorios .launchAction a.actionEdit {
    margin-bottom: 10px !important;
  }
}
.sessWallet .tabelaRelatorios .launchAction a.actionDelete {
  background-color: red;
  color: #f1f1f1;
}
.sessWallet .pagination .page-item .page-link {
  font-size: 0.8em;
}
@media all and (max-width: 35.625em) {
  .sessWallet .pagination .page-item .page-link {
    font-size: 0.6em;
  }
}
body {
  background-color: #eee;
}

.sessCategories .rowTitleCategories {
  border-bottom: 2px solid brown;
}
.sessCategories .rowTitleCategories .tituloMinhasCategorias {
  font-weight: 300;
  font-size: 2em;
  color: brown;
}
@media all and (max-width: 48.125em) {
  .sessCategories .rowTitleCategories .j-addNewCategory .text {
    display: none;
  }
}
.sessCategories .rowContentCategory {
  margin-top: 2em;
}
.sessCategories .rowContentCategory .tableCategories {
  font-size: 0.8em;
}
@media all and (max-width: 39.375em) {
  .sessCategories .rowContentCategory .tableCategories .categoryActions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sessCategories .rowContentCategory .tableCategories .categoryActions a:nth-of-type(1) {
    margin-right: 5px;
  }
}
.sessCategories .rowContentCategory .tableCategories .categoryActions a {
  padding: 3px 3px;
  border-radius: 3px;
  font-size: 0.8em;
}
.sessCategories .rowContentCategory .tableCategories .categoryActions a.actionEdit {
  background-color: #0078ff;
  color: #f1f1f1;
}
.sessCategories .rowContentCategory .tableCategories .categoryActions a.actionDelete {
  background-color: red;
  color: #f1f1f1;
}
