@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Serif;
  box-shadow: none !important;
  outline: 0 !important;
}

.form-label {
  color: #888;
  font-size: 0.8em;
}

.btn {
  font-weight: normal;
}

.btn-primary {
  font-family: "Open Sans", Serif;
  border: none !important;
  background-color: #0078ff;
}
.sessLogin {
  width: 100%;
  height: 100vh;
  background-color: #0078ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sessLogin .loginBox {
  width: 35%;
  margin: 0 auto;
  padding: 1em 1em;
  min-width: 320px;
}
.sessLogin .loginBox .loginBoxHeader {
  padding: 1em 0;
  text-align: center;
}
.sessLogin .loginBox .loginBoxHeader h1 {
  color: white;
  font-size: 2.5em;
  margin: 1em 0;
}
.sessLogin .loginBox .loginBoxBody {
  padding: 1em 1em;
  background-color: white;
  border-radius: 3px;
}
.sessLogin .loginBox .loginBoxBody p {
  text-align: center;
  color: #333;
  font-size: 1.1em;
}
.sessLogin .loginBox .loginBoxBody form .field-esqueciSenha a.esqueciSenha {
  color: #0078ff;
  text-decoration: none;
}
.sessLogin .loginBox .loginBoxBody form .field-esqueciSenha a.esqueciSenha:hover {
  text-decoration: underline;
}
.sessLogin .loginBox .loginBoxBody form .field-create-acount span {
  color: #333;
  font-size: 0.9em;
}
.sessLogin .loginBox .loginBoxBody form .field-create-acount span a {
  text-decoration: none;
  color: #0078ff;
}
.sessLogin .loginBox .loginBoxBody form .field-create-acount span a:hover {
  text-decoration: underline;
}
.sessLogin {
  width: 100%;
  height: 100vh;
  background-color: #0078ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sessLogin .loginBox {
  width: 35%;
  margin: 0 auto;
  padding: 1em 1em;
  min-width: 320px;
}
.sessLogin .loginBox .loginBoxHeader {
  padding: 1em 0;
  text-align: center;
}
.sessLogin .loginBox .loginBoxHeader h1 {
  color: white;
  font-size: 2.5em;
  margin: 1em 0;
}
.sessLogin .loginBox .loginBoxBody {
  padding: 1em 1em;
  background-color: white;
  border-radius: 3px;
}
.sessLogin .loginBox .loginBoxBody p.titleRecover {
  text-align: center;
  color: #333;
  font-size: 1.1em;
}
.sessLogin .loginBox .loginBoxBody p.subTitleRecover {
  font-size: 0.9em;
  color: forestgreen;
  font-style: italic;
}
.sessLogin .loginBox .loginBoxBody form .field-voltar-para-login a.voltarParaLogin {
  color: #0078ff;
  text-decoration: none;
}
.sessLogin .loginBox .loginBoxBody form .field-voltar-para-login a.voltarParaLogin:hover {
  text-decoration: underline;
}
.sessLogin .loginBox .loginBoxBody form .field-create-acount span {
  color: #333;
  font-size: 0.9em;
}
.sessLogin .loginBox .loginBoxBody form .field-create-acount span a {
  text-decoration: none;
  color: #0078ff;
}
.sessLogin .loginBox .loginBoxBody form .field-create-acount span a:hover {
  text-decoration: underline;
}
.sessNewAcount {
  width: 100%;
  height: 100%;
  background-color: #0078ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sessNewAcount .newAcountBox {
  width: 35%;
  margin: 0 auto;
  padding: 1em 1em;
  min-width: 320px;
}
.sessNewAcount .newAcountBox .newAcountBoxHeader {
  padding: 1em 0;
  text-align: center;
}
.sessNewAcount .newAcountBox .newAcountBoxHeader h1 {
  color: white;
  font-size: 2.5em;
  margin: 1em 0;
}
.sessNewAcount .newAcountBox .newAcountBoxBody {
  padding: 1em 1em;
  background-color: white;
  border-radius: 3px;
}
.sessNewAcount .newAcountBox .newAcountBoxBody p {
  text-align: center;
  color: #333;
  font-size: 1.1em;
}
.sessNewAcount .newAcountBox .newAcountBoxBody form .field-create-acount span {
  color: #333;
  font-size: 0.9em;
}
.sessNewAcount .newAcountBox .newAcountBoxBody form .field-create-acount span a {
  text-decoration: none;
  color: #0078ff;
}
.sessNewAcount .newAcountBox .newAcountBoxBody form .field-create-acount span a:hover {
  text-decoration: underline;
}
.leftSiderBar {
  background-color: #261C2C;
}
.leftSiderBar .articleDashboard .articleDashboardHeader {
  padding: 1em 0;
}
.leftSiderBar .articleDashboard .articleDashboardHeader p.userE-mail {
  font-size: 0.8em;
  margin-top: -5px;
}
.leftSiderBar .articleDashboard .articleDashboardBody {
  padding: 1em 0;
}
.leftSiderBar .articleDashboard .articleDashboardBody .leftMenu a {
  text-decoration: none;
  display: block;
  padding: 8px 1.2em;
  color: #f1f1f1;
  font-size: 0.8em;
}
.leftSiderBar .articleDashboard .articleDashboardBody .leftMenu a:hover {
  background-color: #2d3748;
}
.leftSiderBar .articleDashboard .articleDashboardBody .leftMenu a .icon {
  color: #f1f1f1;
  margin-right: 10px;
}
.leftSiderBar .articleDashboard .articleDashboardBody .leftMenu .dashDropDown a {
  color: #2d3748;
  background-color: white;
}
.leftSiderBar .articleDashboard .articleDashboardBody .leftMenu .dashDropDown a:hover {
  background-color: #f0f0f0;
}

.main-header {
  background-color: #0078ff;
  margin-bottom: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
}
.main-header .main-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .main-header-content .mobileResizer {
  cursor: pointer;
  color: white;
}
.main-header .main-header-content .header-action .logout {
  text-decoration: none;
  color: white;
  padding: 5px 1.2em;
  background-color: darkseagreen;
  font-size: 0.8em;
}
.main-header .main-header-content .header-action .logout:hover {
  background-color: forestgreen;
}
.sessionCarteira .statisticas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
.sessionCarteira .statisticas .despesas {
  background-color: #dc3545;
  color: #f0f0f0;
}
.sessionCarteira .statisticas .despesas p.valor {
  font-size: 1.5em;
  font-weight: bold;
}
.sessionCarteira .statisticas .despesas p.title {
  font-size: 0.9em;
  margin-bottom: 0;
}
.sessionCarteira .statisticas .receitas {
  background-color: forestgreen;
  color: #f0f0f0;
}
.sessionCarteira .statisticas .receitas p.valor {
  font-size: 1.5em;
  font-weight: bold;
}
.sessionCarteira .statisticas .receitas p.title {
  font-size: 0.9em;
  margin-bottom: 0;
}
.sessionCarteira .statisticas .saldo {
  color: #f0f0f0;
}
.sessionCarteira .statisticas .saldo p.valor {
  font-size: 1.5em;
  font-weight: bold;
}
.sessionCarteira .statisticas .saldo p.title {
  font-size: 0.9em;
  margin-bottom: 0;
}
body {
  background-color: #eee;
}

.sessProfile .rowTitleProfile {
  border-bottom: 2px solid brown;
}
.sessProfile .titleMeusDados {
  margin-bottom: 1em;
}
.sessProfile .titleMeusDados h3 {
  font-weight: 300;
  font-size: 1.5em;
}
.sessProfile #perfilEndereco {
  border-top: 2px solid brown;
}
.sessProfile .tituloMeuPerfil {
  font-weight: 300;
  font-size: 2em;
  color: brown;
}
body {
  background-color: #eee;
}

.sessWalleties .rowTitleWalleties {
  border-bottom: 2px solid brown;
}
.sessWalleties .rowTitleWalleties .tituloMinhasCarteiras {
  font-weight: 300;
  font-size: 2em;
  color: brown;
}
.sessWalleties .contentListWalleties .cardNewWallet {
  background-color: #1E5128;
  color: white;
}
.sessWalleties .contentListWalleties .cardNewWallet .card-body .addNewWallet {
  padding: 5px 5px;
  background-color: #191A19;
  border-radius: 3px;
  cursor: pointer;
}
