@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none !important;
  font-family: "Open Sans", Serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  position: fixed;
  background-color: #0078ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .content {
  width: 70%;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  padding: 1em 1em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.container .content h1 {
  font-size: 1.8em;
  font-weight: 500;
}
.container .content .dadosAluno {
  margin-top: 1em;
  margin-bottom: 1em;
}
.container .content .dadosAluno p {
  line-height: 1.5;
}
.container .content .dadosAcesso {
  margin-top: 1em;
  margin-bottom: 1em;
}
.container .content .dadosAcesso a.btn-acessarApp {
  margin-top: 1em;
  padding: 8px 1em;
  background-color: #0078ff;
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 3px;
}
.container .content .dadosAcesso a.btn-acessarApp:hover {
  background-color: blue;
}
