.admin-header{
    .admin-header-content,
    .admin-header-nav{
        width: 90%;
        margin: 0 auto;
    }

    .admin-header-nav{
        display: flex;
        align-items: center;
        margin-top: 1em;
        a{
            font-size: .8em;
            border: 2px solid white;
        }

    }


}
